# {{ansible_managed | comment}}

# Common configuration
(common) {
    tls "{{letsencrypt_email}}"
    log / /var/log/caddy/access.log "{host} {remote} - {user} \"{method} {uri} {proto}\" {status} {size}"
}

# Static site common configuration
(static) {
    gzip
    header / {
        Cache-Control "max-age=86400"
    }
    internal /.git
}

# Blog
blog.ijj.li {
    import common
    import static
    root static/blog.ijj.li
    git github.com/polendri/blog.ijj.li {
        branch web
        hook /hooks/push "{{blog_webhook_secret}}"
    }
}

# CV website
cv.ijj.li {
    import common
    import static
    root static/cv.ijj.li
    git github.com/polendri/cv.ijj.li {
        hook /hooks/push "{{cv_webhook_secret}}"
    }
    push /index.html /css/style.css /fonts/Icons.woff2
}

# IL-2 Intel
il2.ijj.li {
    import common
    import static
    root static/il-tools
    git github.com/polendri/il-tools {
        branch web
        hook /hooks/push "{{il2_webhook_secret}}"
    }
}

# GoAccess stats
stats.ijj.li {
    import common
    import static
    basicauth / "{{goaccess_username}}" "{{goaccess_password}}"
    root static/stats.ijj.li
}
