# {{ansible_managed | comment}}

{
    http_port 8080
    https_port 8443
}

# Common configuration
(common) {
    tls paul@ijj.li
    log {
        output file /data/logs/access.log
    }
}

# Nextcloud
home.ijj.li {
    @dav {
        path_regexp ^\/\.well-known\/(?:cal|card)dav$
    }

    import common
    redir @dav /remote.php/dav/ permanent
    reverse_proxy 127.0.0.1:80 {
        header_down Strict-Transport-Security "max-age=15552000;"
    }
}
